[mysqladmin]
user=user

[mysqld]
skip-name-resolve=
explicit_defaults_for_timestamp=
port=3306
max_allowed_packet=16M
bind-address=0.0.0.0
character-set-server=utf8mb4
collation-server=utf8mb4_0900_ai_ci
log-bin-trust-function-creators=1

[client]
port=3306
default-character-set=utf8mb4

[manager]
port=3306
