<footer class="w-100">
    <div class="container py-2">
        <p class="mb-0 text-center text-white" title="And a fuckload of coffee too">Made with &#10084; by Alex Rans </p>
    </div>
</footer>