{% extends 'layout/template.html.twig' %}

{% block body %}
    <div class="container bg-white">
        <h1>Error 404 - Permission denied</h1>
        <p>You are not allowed to view the intended resource.</p>
    </div>
{% endblock %}
